@import '../../styles/theme.module.scss';

.intro,
hr.intro-divider {
  display: none;
}

$section-padding: 24px;

.events {
  padding-top: calc($section-padding / 2);
}


.about {
  iframe {
    margin: 12px 0;
  }
}

.contact {
  padding-bottom: calc(2 * $section-padding);
}


@media only screen and (min-width: $md-breakpoint) {

  .intro,
  hr.intro-divider {
    display: block;
  }

  .intro {
    position: relative;
    min-height: 100vh;
    padding: 0 !important;
    border: 1px solid #0000;

    div.intro-content {
      position: relative;
      top: 50vh;
      transform: translateY(-50%);

      .logo-holder {
        display: flex;
        justify-content: center;
        margin: 0 50% 42px;
      }
    }

    div.scroll-down-button-holder {
      display: flex;
      justify-content: right;
      position: absolute;
      bottom: 0;
      width: 100%;
      margin-bottom: $section-padding;
    }
  }

  .contact {
    padding-bottom: 24px !important;
  }
}