@import '../../styles/theme.module.scss';

.canvas {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}


@media only screen and (min-width: $md-breakpoint) {
  .canvas {
    display: block;
  }
}