
.social-icon-row {
  display: flex;
  justify-content: center;
  width: 100%;

  a {
    margin: 6px;

    img {
      margin: 4px 6px;
      opacity: 0.8;
      transition: opacity 0.2s;
    }

    &:hover {
      img {
        opacity: 1;
      }
    }
  }
}