@import '../../styles/theme.module.scss';

.events-list {
  margin: 12px 0;
  width: 100%;

  .event {
    display: flex;
    width: 100%;
    margin: 8px 0;
    padding: 12px;
    border-radius: 2px;
    // border-bottom: 1px solid $string-color-transparent;

    &:last-child {
      border-bottom: none;
    }

    $row-margin: 8px;

    .date-time {
      width: 35%;

      .date {
        color: $string-color !important;
        font-weight: 500;
        margin-bottom: $row-margin;
      }

      .time {
        color: #fff8 !important;
      }
    }

    .event-location {
      width: calc(65% - 28px);

      .location {
        color: $string-color !important;
        font-weight: 500;
        margin-bottom: $row-margin;
      }

      .description {
        color: #fff8 !important;
      }
    }

    .link {
      width: 28px;
      text-align: right;
    }
  }

  a {
    text-decoration: none;

    .event {
      transition: background 0.2s;
      cursor: pointer;

      &:hover {
        background: #fff2;
      }
    }
  }
}